<div class="container py-3">
  <h1>About TV Shows</h1>
  <p>
    This is an environment of welcoming, and you should just get the hell outta here!
  </p>
  <ul>
    <li><a href="http://imdb.com/" rel="noopener" target="_blank">IMDB</a></li>
    <li><a href="https://metacritic.com/" rel="noopener" target="_blank">MetaCritic</a></li>
    <li><a href="https://www.rottentomatoes.com/" rel="noopener" target="_blank">Rotten Tomatoes</a></li>
    <li><a href="https://www.hollywoodreporter.com/" rel="noopener" target="_blank">The Hollywood Reporter</a></li>
  </ul>
  <h2>Suit up!</h2>
  <p>
    If you think a show is missing, feel free to send me an email at <a
      href="mailto:info@codebyravi.com">contact@codebyravi</a> and I'll get it dressed here.
  </p>
</div>